/* body {
    background: url('../images/main-top.png') right top, url('../images/main-bottom.png') left bottom;
    background-repeat: no-repeat;
} */

.main {
    padding: 16px;
    min-height: calc(100vh - 40px);
    max-width: 940px;
    margin: auto;
}

.main-heading {
    font-size: 20px;
    margin: 0 0 10px;
}

.buttons,
.divider {
    margin-bottom: 15px;
}

.divider {
    border : solid 1px #DBDEF0;
}

.option {
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    font-family: inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #293264;
    background-color: #F5F7FB;
    padding: 11px 22px;
    width: 100%;
    margin: 0 10px 10px 0;
    text-align: left;
}

.main-score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: inter;
    font-weight: 700;
    gap: 15px;
}

.main-button {
    background: #4D5B9E;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #F5F7FB;
    border: none;
    font-family: inter;
    
}

.check-answer-button {
    display: block;
    padding: 11px 22px;
    margin: 10px auto;
}

.play-again-button {
    padding: 9px 27px;
}

@media (min-width: 940px) {
    .option {
        width: 48%;
    }
  }